h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}
table{
    margin: 10%;
    /* display: inline-block; */
    padding: 100px;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
}
td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    
}
tr:hover{
    background-color:grey;
}
th{
    background-color: gray;
    font-style: oblique;
}